.product-card {
  transition: 0.1s ease-in-out;
  margin: 20px;
}

.card-header {
  height: 50px;
}

.card-body {
  height: 150px;
}

.summary-box-container {
  text-align: center;
}

.summary-box {
  background-color: #78a5ff;
  width: 300px;
  height: 100px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
}
